{{ define "main" }}
  {{ partial "title.html" . }}
  <section class="galleries">
    {{/* 1. Loop through subfolders (sections) */}}
    {{ range .Sections }}
      {{ partial "album-card.html" . }}
    {{ end }}

    {{/* 2. Loop through individual items (pages) in this folder */}}
    {{ range where .RegularPages "Params.private" "ne" true }}
      {{ partial "album-card.html" . }}
    {{ end }}
  </section>
  {{ with .Params.tags }}
  <div class="album-tags">
  {{ range . }}
    <a href="{{ "tags/" | relLangURL }}{{ . | urlize }}" class="tag-link">#{{ . }}</a>
  {{ end }}
  </div>
{{ end }}
{{ end }}
